@import "tailwindcss";

@theme {

  /* =========================
   PRIMARY COLORS
   ========================= */

  /* Hijau terang */
  --color-primary: #22C55E;

  /* Biru langit */
  --color-secondary: #0EA5E9;

  /* Orange */
  --color-accent: #F97316;


  /* =========================
   BACKGROUND COLORS
   ========================= */

  /* Dark navy / biru gelap */
  --color-background: #0F172A;

  /* Abu kebiruan gelap */
  --color-surface: #1E293B;


  /* =========================
   TEXT COLORS
   ========================= */

  /* Putih terang */
  --color-textPrimary: #F8FAFC;

  /* Abu terang */
  --color-textSecondary: #94A3B8;
}

body {
  background: var(--color-background);
  color: var(--color-textPrimary);
  font-family: Arial, Helvetica, sans-serif;
}